body {
    background-color: black;
    overflow: hidden;
}
main::after {
    content: "";
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
}
.personagem {
    display: none;
}
.personagem.selecionado {
    display: block;
}
.personagem img {
    width: 100%;
    height: 100vh;

    object-fit: cover;
}
.conteudo {
    color: white;
    position: fixed;
    top: 0;
    left: 10vw;
    height: 100vh;
    width: 26vw;
    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo .descricao {
    line-height: 20px;
    font-size: 20px
}
.conteudo .nome {
    font-size: 35px;
    margin-bottom: 20px;
}
.conteudo .logo {
    background-image: url(../images/one-piece-logo.png);
    background-size: cover;
    width: 14vw;
    height: 15vh;
}
.botoes {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 12vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.botoes .botao img {
    border-radius: 50%;
}
.botoes .botao {
    border: 0;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;
    line-height: 0;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}
.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #2200ff;
}
