body {
    background-color: black;
    overflow-y: hidden;
}
main::after {
    content: "";
    background: rgb(255,255,255);
background: linear-gradient(330deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.896796218487395) 78%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.personagem {
    display: none;
}
main .personagem.selecionado {
    display: block;
}

.personagem img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.conteudo {
    color: white;
    position: fixed;
    top: 0;
    left: 9vw;
    height: 100vh;
    width: 27vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.conteudo .nome {
    font-size: 43px;
    margin-bottom: 20px;
    font-family: "Merriweather";
}

.conteudo .descricao {
    font-size: 15px;
    font-family: "Oswald";
}
.conteudo .logo {
    border: 0;
    background: none;
    width: 15vw;
    height: 12vh;
    cursor: pointer;
    margin-bottom: 20px;
}
.conteudo .logo img {
    width: 15vw;
    height: 15vh;
}
.botoes {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botoes .botao {
    background: none;
    border: 0;
    margin: 11px;
    cursor: pointer;
    transform: translateX(0);
    transition: 1s;
}
.botao:hover {
    transform: translateX(-50%);
}
.botao img {
    border-radius: 50%;
    height: 6vh;
}