@media (max-width:769px) {
    main::after {
        background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8603896103896104) 71%);
    }
    .conteudo .nome {
        width: 500px;
    }
    .conteudo .logo img {
        width: 170px;
        height: 100px;
    }
}
@media (max-width:500px) {
    main::after {
        background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 82%);
    }
    .personagem img {
        width: 100vw;
        height: 100vh;
    }
   .conteudo {
    width: 400px;
    top: 10px;
    left: 15px;
    }
    .conteudo .nome {
        font-size: 30px;
    }
    .conteudo .descricao {
        font-size: 14px;
    }
    .conteudo .logo img {
        width: 150px;
        height: 80px;
    }
    .botoes {
        flex-direction: row;
        align-items: flex-end;
        bottom: 0;
        top: auto;
        width: 500px;
        height: 70px;
    }
    .botoes .botao {
        margin-right: 1%;

    }
    .botao:hover {
        transform: translateY(-20px)
    }
}